/*style of navigation*/
nav{
    text-align: center;
    font-weight: bold;
    padding: 1em;
    }
nav a:link {
        text-decoration:underline;
        color:aliceblue;
    }
nav a:visited {
        text-decoration: underline;
        color:aliceblue;
    }
nav a:hover {
        text-decoration: none;
        font-weight: bold;
        background-color:yellowgreen;
    }

header{
    text-align: center;
    background-image: url(images_p1/section-background.jpg);
    }
header h1{
    color: white;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 2.5em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    }

 /* style for body and section */
 body{
    font-family: Georgia, Cambria, "Times New Roman", serif;
    font-size: 100%;
    background-color: whitesmoke;
    background-image:
    url(images_p1/background-pattern.jfif);
    }
section{
    background-color: white;
    margin-top: 1em;
    margin-right: 6em;
    margin-bottom: 1em;
    margin-left: 6em;
    border: solid 1pt black;
}
section h2{
    color: mintcream;
    padding: 0.5em;
    background-image: url(images_p1/section-background.jpg);
    background-repeat: repeat;
    text-align:center;
    font-family:'Times New Roman', Times, serif;
    font-size: 1.875em;
}

/* style of links in section*/
section a:link {
    text-decoration:underline;
    color: blue;
}
    section a:visited {
    text-decoration: underline;
    color: blue;
}
    section a:hover {
    text-decoration: none;
    font-weight: bold;
    background-color:grey;
}

/*style of image and list*/
img.a{
    width: 20%;
    height: 20%;
    border: solid 2px #050505;
    border-style: double;
    padding: 0.5em;
    margin-top: 1em;
    margin-left: auto;/*make the image aligns center*/
    margin-right: auto;
    display: block;
}
img.b{
    width: 33%;
    height: 33%;
    display: inline;
}
ul{
    color: blue;
    font-size:1.5em;
    list-style-type: none;
}
li{
    text-align: center;
}
/*style of paragraph*/
p{
    padding: 1em;
}

/*style of footer*/
    footer {
    background-image: url(images_p1/section-background.jpg);
    }
    footer h3{
    text-align: center;
    color: white;
    padding: 1em;
        }
    
 