body {
    font-family: Georgia, Cambria, "Times New Roman", serif;
    font-size: 100%;
    /*background-color:bisque;*/
    background-image: url(images_p1/background_1.jpg);
    
}
h1
{
    font-size: 1.8em;
    text-align: center;
    font-family: "Trebuchet MS", "Lucida Grande", Tahoma, sans-serif;
    padding: 0.1em;
}
h2
{
    font-size: 1.5em;
    padding: 0.1em;
    text-align: center;
    font-family: "Trebuchet MS", "Lucida Grande", Tahoma, sans-serif;
}
h3
{
    font-size: 1.2em;
    border-bottom: solid 1pt rgb(153, 153, 153);
    padding: 1rem;
    font-family: "Trebuchet MS", "Lucida Grande", Tahoma, sans-serif;
}

p
{
    font-size: 1rem;
    margin-right: 0em;
    margin-left: 0em;
    padding: 0.5rem;
    letter-spacing: 1px;
}

nav ul li
{
    list-style: none;
    display: inline;
    text-align: center;
}
nav
{
    padding: 0.25em;
    
}
nav a
{
    padding: 0.25em;
}

/* Style for the link */
a:link
{
    font-weight: bold;
    color:blue;
}
a:visited
{
    color: blue;
}
a:hover {
    background-color: white;
}

/* Style for Section*/
section{
    background-color: rgba(256, 256, 256, 0.7);
    margin-right: 4em;
    margin-left: 4em;
    border: solid 1pt black;
}
section p{
    padding: 1em;
}

/* Style for image*/
img.a{
    width: 30%;
    height: 30%;
}
img.b{
    width: 20%;
    height: 20%;
    margin: 1em;
}
section em{
    margin: 1em;
}

/* Style for header and footer */
header, footer
{
    color:black;
    background-color: rgba(256, 256, 256, 0.7);
    margin-top: 1em;
    margin-right: 4em;
    margin-bottom: 1em;
    margin-left: 4em;
    text-align: center;
}
footer
{
    font-family: "Trebuchet MS", "Lucida Grande", Tahoma, sans-serif;
}

